!.gitignore
.DS_Store
*.swp
.build
_build
blib
Build
LICENSE
Makefile.PL
META.*
MYMETA.*
Catmandu-LIDO-*
local
.perl-version
cpanfile.snapshot
demo.pl
*.sqlite
*.fix
*.xml
*.json
msk.pl
msk.fix 2
_build_params